<section class="side">
    <div class="img-outer">
      <img src="./assets/imgs/profile.JPG" alt="Hüseyn Əsədov" />
    </div>
    <div class="flex">
      <div [class.active]="education" class="tab " (click)="getChosenSpeciality('education')">
        <img src="./assets/icons/user-graduate-solid.svg" alt="">
        <!-- <i class="icon-user-graduate-solid"></i> -->
      </div>
      <div [class.active]="skills" class="tab " (click)="getChosenSpeciality('skills')">
        <img src="./assets/icons/laptop-code-solid.svg" alt="">
        <!-- <i class="icon-laptop-code-solid"></i> -->
      </div>
      <div [class.active]="experience" class="tab " (click)="getChosenSpeciality('experience')">
        <img src="./assets/icons/briefcase-solid.svg" alt="">
        <!-- <i class="icon-briefcase-solid"></i> -->
      </div>
      <div [class.active]="contacts" class="tab " (click)="getChosenSpeciality('contacts')">
        <img src="./assets/icons/file-signature-solid.svg" alt="">
        <!-- <i class="icon-file-signature-solid"></i> -->
      </div>
    </div>
    <div class="speciality-content" *ngIf="education">
      <ul>
        <li>
          <b>TET Gimnaziya</b>
          <p> Sentyabr 2000 - İyun 2011 </p>
        </li>
        <li>
          <b>Bakı Dövlət Universiteti</b>
          <p> <span>Fakültə:</span> Beynəlxalq İqtisadi Münasibətlər</p>
          <p> <span>İxtisas:</span> Dünya İqtisadiyyatı </p>
          <p> Sentyabr 2011 - İyun 2015 </p>
        </li>
        <li>
          <b>Code Academy </b>
          <p>Software Development</p>
          <p>May 2019 - Noyabr 2019</p>
        </li>
      </ul>
    </div>
    <div *ngIf="skills" class="speciality-content" style="padding-right: 20px;">
      
      <div class="my-md-100">
        <div class="skills">C# (ASP.NET)</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-90"></div>
        </div>
        <div class="count">
          <div class="progress">85%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">MsSql</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-80"></div>
        </div>
        <div class="count">
          <div class="progress">80%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">PostgreSQL</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-80"></div>
        </div>
        <div class="count">
          <div class="progress">80%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">MySql</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-70"></div>
        </div>
        <div class="count">
          <div class="progress">70%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">Docker</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-70"></div>
        </div>
        <div class="count">
          <div class="progress">70%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">Git &amp; Github</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-75"></div>
        </div>
        <div class="count">
          <div class="progress">75%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">Html/Html5</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-80"></div>
        </div>
        <div class="count">
          <div class="progress">80%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">CSS/CSS3</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-80"></div>
        </div>
        <div class="count">
          <div class="progress">80%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">Bootstrap</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-80"></div>
        </div>
        <div class="count">
          <div class="progress">80%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">SASS</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-70"></div>
        </div>
        <div class="count">
          <div class="progress">70%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">JavaScript</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-80"></div>
        </div>
        <div class="count">
          <div class="progress">75%</div>
        </div>
      </div>
      <div class="my-md-100">
        <div class="skills">jQuery</div>
        <div class="progress_defalut my-md-50">
          <div class="progress_main skill-70"></div>
        </div>
        <div class="count">
          <div class="progress">70%</div>
        </div>
      </div>
    </div>
    <div *ngIf="experience" class="speciality-content">
      <ul>
        <li>
          <b>Back-End Developer</b>
          <p>Asan İnnovasiyalar Mərkəzi
            <br>İyun 2020
          </p>
        </li>
        <li>
          <b>Full stack Developer</b>
          <p>Freelance
            <br>Dekabr 2019 - iyun 2020
          </p>
        </li>
        <li>
          <b>Kredit mütəxəssisi</b>
          <p>Rabitabank Asc
            <br>oktyabr 2017 - may 2019
          </p>
        </li>
      </ul>
    </div>
    <div *ngIf="contacts" class="speciality-content">
      <ul>
        <li>
          <b>linkedin: <a href="https://www.linkedin.com/in/huseyn-asadov-a97046190/" target="_blank">show
              profile</a></b>
        </li>
        <li>
          <b>mobile: (994)50 787-01-81</b>
        </li>
        <li>
          <b><a href = "mailto: huseynia@code.edu.az">huseynia@code.edu.az</a></b>
        </li>
        <li>
          <b><a href="https://github.com/huseynasadov" target="_blank">github.com/huseynasadov</a></b>
        </li>
      </ul>
    </div>
  </section>
  